* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #373737;
}
.wrapper {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.nav {
  background-color: rgba(33, 33, 33, 0.8);
  backdrop-filter: blur(11px);
  padding: 20px 0;
}
.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.nav__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 25px;
  cursor: pointer;
}
.btn::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}
.menu__phone::before {
  background-image: url(./img/icons/phone.svg);
  top: -7px;
}
.menu__btn::before {
  background-image: url(./img/icons/point.svg);
  top: -7px;
}
.nav__point::before {
  background-image: url(./img/icons/marker.svg);
  top: -4px;
}
.nav__cart::before {
  background-image: url(./img/icons/Vector.svg);
}
.nav__mail::before {
  background-image: url(./img/icons/mail.svg);
}
.nav__search::before {
  background-image: url(./img/icons/search.svg);
}

@media screen and (max-width: 768px) {
  .nav__search {
    display: none;
  }
  .nav__mail {
    display: none;
  }
  .nav__cart {
    margin-right: 0;
  }
}

.nav__phone {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .nav__phone {
    display: none;
  }
}
.nav__point {
  margin-right: 35px;
}
.hero {
  color: #ffffff;
}
.hero__title {
  max-width: 605px;
  width: 100%;
  font-weight: 400;
  font-size: 41px;
  line-height: 48px;
  font-family: "Jura";
  font-style: normal;
  padding-top: 75px;
  margin-bottom: 25px;
}
.hero__subtitle {
  max-width: 450px;
  width: 100%;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 40px;
}
.hero__link {
  border: 2px solid #c80000;
  border-radius: 27px;
  padding: 15px 35px;
  color: #ffffff;
  text-decoration: none;
}

/* ------------- */
/* Showcase */
/* ------------- */
.showcase {
  padding-top: 60px;
  margin-bottom: 60px;
}
.showcase__nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.showcase__nav-button {
  color: #ffffff;
  border: none;
  background-color: transparent;
  padding-top: 75px;
  position: relative;
  cursor: pointer;
}
.showcase__nav-button::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  transform: translate(50%);
}
.showcase__nav-button:hover {
  color: #ff0000;
}
.showcase--kitchen::before {
  background-image: url(./img/showcase/icons/kitchen.svg);
}
.showcase--folding::before {
  background-image: url(./img/showcase/icons/folding.svg);
}
.showcase--sharpener::before {
  background-image: url(./img/showcase/icons/sharpener.svg);
  transform: translate(78%);
}
.showcase--accessories::before {
  background-image: url(./img/showcase/icons/accessories.svg);
  transform: translate(95%);
}

@media screen and (max-width: 768px) {
  .showcase__nav-item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
.showcase__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.showcase__item {
  border-bottom: 14px;
  margin-bottom: 25px;
  margin-right: 18px;
}
.showcase__item--child {
  margin-right: 0;
}
.showcase__item:last-child {
  margin-right: 0;
}
.showcase__item--article {
  max-width: 590px;
  width: 100%;
  height: 480px;
  display: flex;
  align-items: flex-end;
  border-radius: 16px;
}
.showcase__wrapper {
  background-color: #272727;
  height: 410px;
  width: 285px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  position: relative;
  cursor: pointer;
}
.showcase__item-img {
  border-radius: 14px;
}
.showcase__item-link {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-decoration: none;
  color: #ffffff;
  padding-left: 25px;
  margin-bottom: 30px;
  position: relative;
}
.showcase__item-link::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 17px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./img/icons/arrow.svg);
  right: -80px;
  top: 10px;
}

.showcase__add::before {
  content: "+";
  position: absolute;
  color: #ffffff;
  background-color: #272727;
  height: 37px;
  width: 37px;
  font-size: 24px;
  top: 25px;
  right: 25px;
  border-radius: 50%;
  z-index: 1;
  line-height: 37px;
  text-align: center;
}
.showcase__wrapper:hover .showcase__add::before {
  background-color: #c80000;
  height: 37px;
  width: 37px;
  line-height: 37px;
  transition: background-color 0.5s linear;
}
.showcase__text {
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}
.showcase__price {
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  opacity: 0.5;
  margin-right: 28px;
}
.showcase__mailing {
  font-weight: 500;
  font-size: 27px;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}
.showcase__form {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  background-color: #272727;
  border-radius: 6px;
  margin-bottom: 50px;
}
.showcase__input {
  padding: 20px 25px;
  border: none;
  background-color: inherit;
}
.showcase__button {
  border: none;
  width: 18px;
  height: 18px;
  padding: 5px;
  position: relative;
  background-color: transparent;
}
.showcase__button::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(./img/icons/right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  right: -40px;
  top: -2px;
}
.showcase__new {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #ff3232;
  display: inline-block;
}
.showcase__new::first-letter {
  text-transform: uppercase;
}
.showcase__line {
  display: block;
  opacity: 0.1;
  border: 1px solid #ffffff;
}
.popular {
  padding: 60px 0;
}
.popular__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.popular__btn {
  margin-right: 50px;
  border: none;
  background-color: transparent;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 42px;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  cursor: pointer;
}
.popular__active {
  color: #ffffff;
  opacity: 1;
  position: relative;
}
.popular__active::before {
  content: "";
  position: absolute;
  width: 94px;
  height: 2px;

  background-color: #c80000;
  bottom: 5px;
}
